html, body {
  background-color: black;
  width: 480px;
  height: 480px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  background-color: white;
  width: 480px;
  height: 480px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}